<form [formGroup]="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      formControlName="username"
      type="text"
      id="username"
      class="form-control"
    />
    <div
      *ngIf="username.touched && username.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">
        Username should be minimum
        {{ username.errors.minlength.requiredLength }} characters
      </div>
      <div *ngIf="username.errors.cannotContainSpace">
        Username cannot contain space
      </div>
    </div>
  </div>
  <div class="fomr-group">
    <label for="password">Password</label>
    <input
      formControlName="password"
      type="text"
      id="password"
      class="form-control"
    />
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
